In [2]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [3]:
df1 = pd.read_csv('astro_data.csv')
df2 = pd.read_csv('forecast_data.csv')
df3 = pd.read_csv('location_data.csv')

In [5]:
df1.head()

,sunrise,sunset,moonrise,moonset,moon_phase,moon_illumination,state,city
0,06:14 AM,05:55 PM,02:53 PM,01:17 AM,First Quarter,61,Andhra Pradesh,Amaravati
1,05:50 AM,05:35 PM,02:24 PM,01:00 AM,First Quarter,61,Andhra Pradesh,Visakhapatnam
2,06:00 AM,05:47 PM,02:34 PM,01:14 AM,First Quarter,61,Andhra Pradesh,Vijayawada
3,06:01 AM,05:47 PM,02:34 PM,01:15 AM,First Quarter,61,Andhra Pradesh,Guntur
4,06:01 AM,05:50 PM,02:33 PM,01:20 AM,First Quarter,61,Andhra Pradesh,Nellore

In [10]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1232 entries, 0 to 1231
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sunrise            1232 non-null   object
 1   sunset             1232 non-null   object
 2   moonrise           1232 non-null   object
 3   moonset            1232 non-null   object
 4   moon_phase         1232 non-null   object
 5   moon_illumination  1232 non-null   int64
 6   state              1232 non-null   object
 7   city               1232 non-null   object
dtypes: int64(1), object(7)
memory usage: 77.1+ KB

In [12]:
for col in ['sunrise', 'sunset', 'moonrise', 'moonset']:
    df1[col] = pd.to_datetime(df1[col], format='%I:%M %p', errors='coerce')
    df1[col] = df1[col].dt.hour * 60 + df1[col].dt.minute

In [14]:
df1.head()

,sunrise,sunset,moonrise,moonset,moon_phase,moon_illumination,state,city
0,374,1075,893,77.0,First Quarter,61,Andhra Pradesh,Amaravati
1,350,1055,864,60.0,First Quarter,61,Andhra Pradesh,Visakhapatnam
2,360,1067,874,74.0,First Quarter,61,Andhra Pradesh,Vijayawada
3,361,1067,874,75.0,First Quarter,61,Andhra Pradesh,Guntur
4,361,1070,873,80.0,First Quarter,61,Andhra Pradesh,Nellore

In [22]:
df1['duration'] = (df1['sunset'] - df1['sunrise'])/60

In [23]:
df1.head()

,sunrise,sunset,moonrise,moonset,moon_phase,moon_illumination,state,city,duration
0,374,1075,893,77.0,First Quarter,61,Andhra Pradesh,Amaravati,11.683333
1,350,1055,864,60.0,First Quarter,61,Andhra Pradesh,Visakhapatnam,11.750000
2,360,1067,874,74.0,First Quarter,61,Andhra Pradesh,Vijayawada,11.783333
3,361,1067,874,75.0,First Quarter,61,Andhra Pradesh,Guntur,11.766667
4,361,1070,873,80.0,First Quarter,61,Andhra Pradesh,Nellore,11.816667